body {
  font-family: Georgia, 'Times New Roman', Times, serif;

  font-size: 1.2em;

  margin: 0px;
  background-color: #E3C388;
}

header {
  text-align: center;
  background-color: #AB7C4E;
  padding: 20px;
}

nav {
  background-color: #BC8A41;

  overflow: hidden;

}

nav a {
  display: block;


  padding: 12px 16px;

  float: left;

  color: #E1CCBB;

  text-decoration: none;


}

nav a:hover {
  background-color: #AB7C4E;
  color: #e1c5af;
}

main {
  margin: 50px;
  margin-bottom: 180px;
}
h2{
  text-align: center;
  padding:15px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #E3C388;
  background-color: #33342F;
  padding: 6px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#redesSociales {
  margin-top: 10px;
  margin-left: 20px;
}

#redesSociales img {
  width: 20px;
  height: 20px;
  padding-right: 10px;
}